@font-face {
  /* 重命名字体名 */
  font-family: 'DingTalk-JinBuTi';
  /* 引入字体 */
  src: url('./DingTalk-JinBuTi.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1704335981745') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15:before {
  content: "\e60d";
}

.icon-huojian:before {
  content: "\e6ab";
}

.icon-shouye:before {
  content: "\e7e4";
}

.icon-jingxuanwenzhang:before {
  content: "\e661";
}

.icon-line-080:before {
  content: "\e752";
}

.icon-a-fenxiang2:before {
  content: "\e620";
}
