* {
  padding: 0;
  margin: 0;
  font-family: "DingTalk-JinBuTi";
  font-weight: 400;
}

body {
  background-color: #f4f4f4;
}

@import './demo.scss';

@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@for $i from 0 through 25 {
  .animated-fade-up-#{$i} {
    opacity: 0;
    animation-name: fade-up;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-delay: calc($i/25) + s;
  }
}

@media (max-width: 768px) {
  .viewContainer {
    width: 100% !important;
  }

  .Navbar .box {
    display: none !important;
  }

  .Navbar .smillBox {
    display: block !important;
  }

  .article {
    .articleLeft {
      width: 100% !important;
      padding: 0 10px;

      .acticleitem {
        height: 100px !important;
        padding: 10px !important;

        .img {
          width: 100px !important;
        }

        .acticleitem_title {
          font-size: 14px !important;
        }

        .acticleitem_synopsis,
        .btm {
          font-size: 12px !important;
        }
      }
    }

    .articleRight {
      display: none;
    }
  }
}

// 容器宽度
.viewContainer {
  margin: $navBar_heaight auto 0;
  width: $ContainerWidth;
}

/* 一般浏览器的不要太小，容易看不见 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}