* {
  padding: 0;
  margin: 0;
  font-family: "DingTalk-JinBuTi";
  font-weight: 400;
}

body {
  background-color: #f4f4f4;
}

@import './demo.scss';

@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@for $i from 0 through 25 {
  .animated-fade-up-#{$i} {
    opacity: 0;
    animation-name: fade-up;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-delay: calc($i/25) + s;
  }
}

@media (max-width: 768px) {
  .viewContainer {
    width: 100% !important;
  }

  .AppMain .box {
    display: none;
  }

  .Navbar .box {
    display: none !important;
  }

  .Navbar .smillBox {
    display: block !important;
  }

  //文章列表
  .article {
    .articleLeft {
      width: 100% !important;
      padding: 0 10px;

      .acticleitem {
        height: 100px !important;
        padding: 10px !important;

        .img {
          width: 80px !important;
        }

        .cticleitemR_Box {
          margin-left: 10px !important;
        }

        .acticleitem_title {
          font-size: 14px !important;
        }

        .acticleitem_synopsis,
        .btm {
          font-size: 12px !important;
        }

        .acticleitem_author {
          margin-right: 0 !important;
        }
      }
    }

    .articleRight {
      display: none;
    }

  }

  // 文章详情
  .detailBox {
    margin-top: 60px !important;

    .datailtopbg {
      height: 180px !important;
    }

    .detail {
      padding: 10px !important;
    }
  }

  // 分享
  .codes {
    .codesContent {
      .el-row {
        margin: 0 !important;
      }
    }
  }

  // demo
  .demo .demoContent {
    .demotitle {
      font-size: 20px !important;

      span {
        font-size: 16px !important;
      }
    }

    .calendar {
      padding: 0 !important;

      // 日历
      .fullcalendar .actionBar {
        .el-tabs .el-tabs__item {
          width: 30px !important;
        }

        .left {
          font-size: 15px !important;

          h3 {
            font-size: 15px !important;
          }
        }
      }
    }
  }

  // 访客
  .problem {
    .problemContent .table_box {
      padding: 0 !important;
      margin: 0 5px;
    }
  }

}

// 容器宽度
.viewContainer {
  margin: $navBar_heaight auto 0;
  width: $ContainerWidth;
}

/* 一般浏览器的不要太小，容易看不见 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}